/**
 * KindaPlayer stylesheet
 *
 * Elements have the following structure
 *
 * <div class="kinda-player">
 *   <div class="kinda-player-button-close">&times;</div>
 *
 *   <div class="kinda-player-box">
 *     <div class="kinda-player-status">
 *       <div class="kinda-player-status-line">
 *         <div class="kinda-player-status-load"></div>
 *         <div class="kinda-player-status-play"></div>
 *       </div>
 *
 *       <div class="kinda-player-status-text">Current track title</div>
 *       <div class="kinda-player-status-time">0:00/0:00</div>
 *     </div>
 *
 *     <div class="kinda-player-buttons">
 *       <input type="button" class="kinda-player-button-prev" />
 *       <input type="button" class="kinda-player-button-play" />
 *       <input type="button" class="kinda-player-button-stop" />
 *       <input type="button" class="kinda-player-button-next" />
 *       <input type="button" class="kinda-player-button-mute" />
 *       <input type="button" class="kinda-player-button-list" />
 *     </div>
 *   </div>
 *
 *   <ul class="kinda-player-list">
 *     <li>Track1 Title</li>
 *     <li>Track2 Title</li>
 *     <li>Track3 Title</li>
 *   </ul>
 * </div>
 *
 * Copyright (C) 2010 Nikolay Nemshilov
 */

div.kinda-player, div.kinda-player * {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  border: none;
  background: none;
  list-style: none;
}

div.kinda-player {
  width: 20em;
  -moz-border-radius: .24em;
  -webkit-border-radius: .24em;
}

/** loading time style */
div.kinda-player-waiting {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
div.kinda-player-waiting * {
  cursor: default !important;
}

/** the box style */
div.kinda-player-box,
ul.kinda-player-list {
  border: 1px solid #BBB;
  background: #EEE;
  padding: .4em;
  position: relative;
 -moz-border-radius: .24em;
 -webkit-border-radius: .24em;
}


/** the status bar style */
div.kinda-player-status {
  position: relative;
  margin-bottom: .36em;
}

div.kinda-player-status-line {
  position: relative;
  height: .4em;
  border: 1px solid #AAA;
 -moz-border-radius: .2em;
 -webkit-border-radius: .2em;
  cursor: pointer;
  margin-top: .2em;
}

div.kinda-player-status-play,
div.kinda-player-status-load {
  position: absolute;
  width: 0%;
  height: 100%;
  background: #CCC;
  z-index: 1;
  -moz-border-radius: .1em;
  -webkit-border-radius: .1em;
}
div.kinda-player-status-play {
  background: #999;
  z-index: 2;
}

div.kinda-player-status-text {
  white-space: nowrap;
  overflow: hidden;
  padding: 0 .2em;
  position: relative;
  z-index: 3;
  margin-right: 5.5em;
}
div.kinda-player-status-time {
  position: absolute;
  top: 0;
  right: .2em;
  white-space: nowrap;
  z-index: 4;
}


/** the buttons block */
div.kinda-player-buttons {
  position: relative;
}

div.kinda-player-buttons input {
  display: inline-block;
* display: inline;
* zoom: 1;
  width: 18px;
  height: 18px;
  margin-right: 2px;
  background-color: #CCC;
  background-image: url(../images/kinda_player_icons.png);
  background-repeat: no-repeat;
  border: 1px solid #AAA;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
  cursor: pointer;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
div.kinda-player-buttons input:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
div.kinda-player-buttons input:disabled,
div.kinda-player-buttons input:disabled:hover {
  cursor: default;
  background-color: #BBB;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

input.kinda-player-button-prev { background-position:   0px  center; }
input.kinda-player-button-next { background-position: -16px  center; }
input.kinda-player-button-play { background-position: -32px  center; }
input.kinda-player-button-stop { background-position: -64px  center; }
input.kinda-player-button-mute { background-position: -111px center; }
input.kinda-player-button-list { background-position: -80px  center; }

div.kinda-player-muted   input.kinda-player-button-mute { background-position: -127px center; }
div.kinda-player-playing input.kinda-player-button-play { background-position: -48px  center; }
div.kinda-player-nolist  input.kinda-player-button-list { background-position: -96px  center; }

input.kinda-player-button-mute,
input.kinda-player-button-list {
  position: absolute;
  top: 0px;
  right: 20px;
}
input.kinda-player-button-list {
  right: 0px;
}

/** The volume control bar styles */
div.kinda-player div.kinda-player-volume-control {
  position: absolute;
  right: 48px;
  bottom: .4em;
  width: 32px;
  height: 18px;
}
div.kinda-player div.kinda-player-volume-bar, 
div.kinda-player div.kinda-player-volume-bar-bg {
  position: absolute;
  top: 0;
  left: 0;
  width:  0%;
  height: 100%;
  cursor: pointer;
  background: url(../images/kinda_player_icons.png) no-repeat -155px center;
}
div.kinda-player div.kinda-player-volume-bar-bg {
  width: 100%;
  opacity: 0.2;
  filter: alpha(opacity=20);
}


/** the playlist styles */
ul.kinda-player-list {
  margin: 0;
  padding: 0;
  border-top: none;
  background-color: #F8F8F8;
  padding: 0 .2em;
  overflow: hidden;
}
ul.kinda-player-list li {
  padding: .2em;
  cursor: pointer;
  color: #444;
  white-space: nowrap;
  overflow: hidden;
}
ul.kinda-player-list li:hover {
  background: #CCC;
  color: #000;
}
ul.kinda-player-list li.kinda-player-list-selected {
  color: #000;
  font-weight: bold;
}


/** mini-player styles */
div.kinda-player-mini div.kinda-player-box {
  padding: .2em;
}

div.kinda-player-mini div.kinda-player-status {
  position: relative;
  margin-left: 42px;
  margin-bottom: 0;
}
div.kinda-player-mini div.kinda-player-status-line {
  margin-top: 0;
}

div.kinda-player-mini div.kinda-player-buttons {
  position: absolute;
  top: .2em;
  left: .2em;
}

div.kinda-player-mini div.kinda-player-buttons input {
  height: 2.2em;
}

div.kinda-player-mini input.kinda-player-button-prev,
div.kinda-player-mini input.kinda-player-button-next,
div.kinda-player-mini input.kinda-player-button-stop,
div.kinda-player-mini input.kinda-player-button-list,
div.kinda-player-mini div.kinda-player-volume-control,
div.kinda-player-mini ul.kinda-player-list {
  display: none;
}

div.kinda-player-mini input.kinda-player-button-mute {
  position: relative;
  right: auto;
}


/** popup version styles */
div.kinda-player-popup {
  position: absolute;
  display: none;
  z-index: 9999;
 -moz-box-shadow: #888 .1em .2em .5em;
 -webkit-box-shadow: #888 .1em .2em .5em;
}

div.kinda-player-button-close {
  font-weight: bold;
  cursor: pointer;
  width: 10px;
  height: 10px;
  color: #888;
  float: right;
  font-size: 120%;
  margin-right: -14px;
  display: none;
  text-shadow: #CCC .1em .1em .1em;
}
div.kinda-player-button-close:hover {
  color: #000;
}

div.kinda-player-popup div.kinda-player-button-close {
  display: block;
}